<!-- making header and footer components -->

<app-header></app-header>

<h1>Angular interpolation</h1>

<h1>hello world</h1>
{{ title }}

{{ appName }}

{{ getName() }}

{{ obj.name }}

{{ arr[0] }}
<!-- math operation -->
{{ 3 + 3 }}
<!-- assignment not possible -->
<!-- {{a = 3}} will give error -->
<!-- window obj is not allowed -->
<!-- {{ window.location.href }} -->
{{ siteUrl }}

<app-user-list [childData]="dataForChild"></app-user-list>

<app-login></app-login>
<app-signup></app-signup>

<button (click)="handleClick('peter')">Click me!</button>
<button (click)="handleClick(appName)">Click me!</button>

<input type="text" #box1 (keyup)="myEvent(box1.value)" />
<input type="text" #box2 (keydown)="myEvent(box2.value)" />

<input type="text" (input)="myEvent2($event)" />
{{ currentVal }}

<input [disabled]="disabledBox" value="pawan" />
<input disabled="{{ disabledBox }}" value="pawan" />

<button (click)="enableBox()">enable button</button>

<h1 *ngIf="show; else elseBlock">if block</h1>

<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template>

<h1 *ngIf="showstr == 'yes'; then ifBlock; else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>if block</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>else block</h1>
</ng-template>

<ng-template [ngIf]="color == 'red'">
  <h1>red block</h1>
</ng-template>

<ng-template [ngIf]="color == 'blue'">
  <h1>blue block</h1>
</ng-template>
<ng-template [ngIf]="color == 'green'">
  <h1>green block</h1>
</ng-template>

<div [ngSwitch]="color">
  <h4 *ngSwitchCase="'red'">Red Switch block</h4>
  <h4 *ngSwitchCase="'green'">Green Switch block</h4>
  <h4 *ngSwitchCase="'blue'">Blue Switch block</h4>
</div>

<h3 *ngFor="let item of dataArr">{{ item }}</h3>

<table border="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
  </tr>
  <tr *ngFor="let item of dataObj">
    <td>
      {{ item.name }}
    </td>
    <td>{{ item.age }}</td>
  </tr>
</table>

<!-- Form in angular -->
<!-- import FormModule in the module where you add form and include in the imports -->

<h1>Simple form in angular</h1>
<form #simpleForm="ngForm" (ngSubmit)="handleSubmit(simpleForm.value)">
  <input type="text" ngModel name="username" placeholder="enter username" />
  <br /><br />
  <input
    type="text"
    ngModel
    name="email"
    placeholder="enter email"
  /><br /><br />
  <input
    type="password"
    ngModel
    name="password"
    placeholder="enter password"
  /><br /><br />
  <input type="submit" value="submit" />
</form>

<!-- style binding in angular -->
<!-- difference btn normal style and style binding -->
<!-- add dynamic style -->
<!-- update style on button click -->
<!-- add conditional style -->

<!-- adding bootstrap module -->

<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too
    good.
  </ngb-alert>
</p>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (closed)="close(alert)">{{
    alert.message
  }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>

<br />
<br />

<!-- adding material ui components -->

<button mat-button>Basic</button>
<button mat-button color="primary">Primary</button>

<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<a mat-button href="https://www.google.com/" target="_blank">Link</a>

<br />
<br />

<!-- passing data from parent component to child component -->

<app-user-list [childData]="dataForChild"></app-user-list>

<!-- how to make reusable  component -->

<div *ngFor="let data of dataObj">
  <app-reusable-component [childData]="data"></app-reusable-component>
</div>

<!-- sending data from child to parent -->
<!-- passing data from child to parent with eventemitter -->

<app-data-childto-parent
  (parentComponentFunction)="parentComponentFunction($event)"
  (parentComponentFunction2)="parentComponentFunction2($event)"
></app-data-childto-parent>

<h1>
  {{ dataFromChildToParent }}
</h1>

<!-- what is pipes -->
<!-- pipes with string/date/slice/currency -->

<p>{{ appName | uppercase }}</p>
<p>{{ today | date: "fullDate" }}</p>
<p>{{ appName | slice: 2:6 | uppercase }}</p>
<p>{{ money | currency: "USD" }}</p>
<p>{{ money | currency: "CAD" }}</p>

<br />
<br />

<!-- routing in angular project -->
<!-- if choose not to install routing at project setup we can run this cmd to install routing -->

<!-- ng g m app-routing --flat --module=app -->

<div>
  <a routerLink="user">User page</a> <br />
  <a routerLink="admin">Admin page</a> <br />
  <a routerLink="about">About page</a> <br />
</div>
<router-outlet></router-outlet>

<!-- what is directive - used to make dom manipulation -->
<!-- like ngIf ngFor ngSwitch ngSwitchCase binding [] etc -->
<!-- ng g directive <DIRECTIVE_NAME> will create 2 files-->
<h1>Custom Directive in Angular</h1>
<h2>Normal Heading</h2>
<h2 appCustomStyle>Custom heading</h2>

<br />
<br />

<!-- what is service in angular -->
<!-- USED to share data between different components -->
<!-- we need to store data in service and share data to other components -->
<!-- how to create service will create 2 files -->
<!-- ng g service <SERVICE_NAME> -->

<h1>{{ dataFromUserService.name }}</h1>

<!-- Api call in angular -->
<!-- how to call api data in service and get data to component -->

<!-- showing data from api call -->

<table>
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>User Id</td>
  </tr>

  <tr *ngFor="let item of apiData">
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.userId }}</td>
  </tr>
</table>

<!-- what is model/how to make/use it with other/component/service files -->
<!-- use to validate the data type using interface -->

<!-- what is routing module -->
<!-- make module with routing file -->
<!-- define routing inside module -->
<!-- make routing link -->

<h1>Admin pages</h1>
<ul>
  <li><a routerLink="/admin/login">Login</a></li>
  <li><a routerLink="/admin/list">List</a></li>
</ul>

<h1>User pages</h1>
<ul>
  <li><a routerLink="user/login">Login</a></li>
  <li><a routerLink="user/list">List</a></li>
</ul>

<router-outlet></router-outlet>

<!-- what is lazy loading -->
<!-- make a module and 2 components -->
<!-- use module in lazy loading way -->
<!-- make routing and routing link -->

<h1>Admin Lazy loading in angular</h1>
<ul>
  <li><a routerLink="lazy/admin/login">Lazy login</a></li>
  <li><a routerLink="lazy/admin/list">Lazy list</a></li>
</ul>

<h1>User Lazy loading in angular</h1>
<ul>
  <li><a routerLink="lazy/user/login">Lazy login</a></li>
  <li><a routerLink="lazy/user/list">Lazy list</a></li>
</ul>

<router-outlet></router-outlet>

<!-- lazy loading component -->
<!-- make 2 components -->
<!-- make 2 button for loading component on click -->
<!-- write component loading function -->

<!-- footer -->
<!-- <app-footer></app-footer> -->
